---

---

<footer class="footer">
    <p>Copyright &copy; <span id="year"></span> | All Rights Reserved.</p>
</footer>

<style>
    footer{
        line-height: 50px;
        border-top: 1px solid #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>